
%h1 Movies similar to #{@movie.title}

%p#description= @movie.description

%h3 Movies by same director:
%table#movies
  %thead
    %tr
      %th Title
      %th Rating
      %th Director
      %th Release Date
      %th More Info
  %tbody
    - @similarsDirector.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Back to movie list', movies_path

